.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.info > * {
  margin-bottom: 30px;
}

.info__price {
  color: #326190;
  font-size: 40px;
}

h1 {
  font-size: 24px;
}
